#bottompage{
    background-color: gray;
    background-color: fixed;
    display: grid;
    grid-template-columns: auto auto auto;
}
#bottompage ul li{
    list-style-type: none;
}
#bottompage ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.925);
    font-size: 20px;
}
#bottompage h4{
    color: blue;
    font-size: 30px;
}